@fortawesome:registry=https://npm.fontawesome.com/
 //npm.fontawesome.com/:_authToken=F04E6C55-0D43-4F67-8025-EAF648F3EB38

 @webhr:registry=https://npm.pkg.github.com/
 //npm.pkg.github.com/:_authToken=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
