.header-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom-width: thin;
  border-bottom-color: #e3e3e3;
  padding-left: 1%;
  padding-right: 1%;
  height: 80px;
}
.logo-header {
  height: 60px;
  padding-top: 5%;
}
.header-right-button {
  align-self: center;
  display: flex;
  flex-direction: row;
}
.header-left-button {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.btn-style {
  background-color: #4b94cf;
  border-color: #4b94cf;
}
