.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-label-container {
  padding-top: 10px;
}
.input-label {
  color: #3f3d56;
}
.input-text-container {
  padding-left: 10px;
}

.inputStyle {
  border-top-width: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-color: #e3e3e3;
  color: #3f3d56;
  padding: 5px;
  margin-top: 10px;
  background-color: transparent;
}

.textareaStyle {
  color: #3f3d56;
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
}
