.backgroundImage-container {
  background: url("../images/background.jpeg");
  height: 100%;
  background-position: center;
  background-size: cover;
}
.column-container {
  flex: 1;
  background-color: beige;
  width: 50%;
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: center;
}
.column2-container {
  background-color: rgb(214, 214, 178);
  width: 50%;
  display: flex;
}
.form-container {
  border: 5;
  border-width: 1;
  border-color: darkgrey;
  padding: 10;
  width: 80%;
}
